/* Styles */

@import url('https://fonts.googleapis.com/css?family=Lato:400&display=swap');

* {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

body {
    display: grid;
    grid-template-areas: "header"
                         "main-section"
                         "documentation"
                         "community"
                         "developers"
                         "footer";
    grid-template-rows: auto auto auto auto auto auto;
    max-width: 100%;
    background-image: url("./img/background.svg");
    background-repeat: no-repeat;
    background-size: 100%;
}

h3 {
    font-size: 16px;
}

/* --- Header */
.o-header {
    display: grid;
    grid-row: header;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
}

#nav-main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

li {
    display: inline;
    font-size: 12px;
    padding: 15px;
}

a:link {
    text-decoration: none;
}

.orange-button {
    background: #FFA654;
    border-radius: 5px;
    width: 10vw;
    height: 40px;
    font-size: 12px;
}

.blue-button {
    background: #60C0FF;
    border-radius: 5px;
    width: 10vw;
    height: 40px;
    font-size: 12px;
    justify-self: center;
}

/* --- Main Section */
.main-section {
    display: grid;
    grid-row: main-section;
    grid-template-rows: [main] auto [understand] auto [feature] auto;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
}

.main-http {
    display: grid;
    grid-row: main;
    grid-template-rows: 2fr 1fr 2fr;
}

.main-http h1 {
    font-size: 40px;
    font-weight: 700;
}

.main-http h2 {
    font-size: 16px;
}

.understand-item {
    display: grid;
    grid-row: understand;
    justify-items: left;
}

.font-normal {
    font-size: 40px;
}

.features-items {
    display: grid;
    grid-row: feature;
    grid-template-columns: repeat(4, 1fr);
}

.features-items h3 {
    font-size: 24px;
}

.features-box {
    padding: 50px;
}

#blue-line {
    width: 20%;
    border-top: 2px solid #75D6FF;
    margin-left: 0;
}

#purple-line {
    width: 20%;
    border-top: 2px solid #BD9EFF;
    margin-left: 0;
}

#orange-line {
    width: 20%;
    border-top: 2px solid #FFA654;
    margin-left: 0;
}

#green-line {
    width: 20%;
    border-top: 2px solid #B2FFA6;
    margin-left: 0;
}

.documentation {
    display: grid;
    grid-row: documentation;
    grid-template-rows: [title] auto [items-documentation] auto;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 100px;
    justify-items: center;
    background: linear-gradient(60deg, transparent 100%, #fff 63%), 
			linear-gradient(-2deg, transparent 95%, #fff 63%), 
			linear-gradient(to bottom, #FBFBFB, #FBFBFB);
}


.documentation h1 {
    font-size: 40px;
}

.title-documentation {
    display: grid;
    grid-row: title;
    text-align: center;
}

.items-documentation {
    display: grid;
    grid-row: items-documentation;
    grid-template-columns: repeat(2, 1fr);
    background: #FFFFFF;
    /* Drop Shadow */
    box-shadow: 0px 6.06309px 20px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    padding: 20px;
    position: relative;
    bottom: -80px;
}

.items-documentation div:nth-child(1) {
    padding: 20px;
    align-self: center;
}

.items-documentation div:nth-child(2) {
    padding: 20px;
    align-self: center;
}

.items-documentation h1 {
    font-size: 40px;
}

.items-documentation h2 {
    font-size: 18px;
    padding-bottom: 15px;
}

/* --- Community Section */
.community {
    display: grid;
    grid-row: community;
    grid-template-columns: [love-community] 1fr [contribuitors] 1fr;
    grid-template-rows: [box1] auto [box2] auto;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 150px;
    gap: 30px;
}

.community h1 {
    font-size: 40px;
}

.community h3 {
    font-size: 16px;
}

.love-community {
    grid-column: love-community;
    padding: 20px;
    align-self: center;
    justify-self: center;
}

.contribuitors {
    grid-column: contribuitors;
    padding: 20px;
    align-self: center;
    justify-self: center;
}

.box1 {
    background: #FFFFFF;
    box-shadow: 0px 7.28173px 36.4087px rgba(0, 0, 0, 0.13);
    border-radius: 20px;
    padding: 50px;
}

.box2 {
    background: #FFFFFF;
    box-shadow: 0px 7.28173px 36.4087px rgba(0, 0, 0, 0.13);
    border-radius: 20px;
    padding: 50px;
}

/* --- Developers Section */
.developers {
    display: grid;
    grid-row: developers;
    grid-template-rows: [title-dev] auto [text-dev] auto [code-dev] auto;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
    background-image: url("./img/background-bottom.svg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.developers h1 {
    font-size: 40px;
}

.title-dev {
    display: grid;
    grid-row: title-dev;
}

.text-dev {
    display: grid;
    grid-row: text-dev;
    grid-template-columns: repeat(2, 1fr);
    padding: 30px;
}

.code-dev {
    display: grid;
    grid-row: code-dev;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

/* --- Footer */
.o-footer {
    display: grid;
    grid-row: footer;
    grid-template-columns: repeat(4, 1fr);
    background: #60C0FF;
    color: white;
    padding: 20px;
    justify-items: left;
}

.o-footer li {
    display: flex;
    font-size: 16px;
}