/* Styles */

@import url('https://fonts.googleapis.com/css?family=Lato:400&display=swap');

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    height: auto;
}

img {
    display: block;
    width: 100%;
}

main {
    max-width: 900px;
    margin: auto;
    background: url("./img/background.svg");
    background-position: initial;
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    background: linear-gradient(80.92deg, #59AFF5 32.66%, #60C0FF 91.08%);
}

#nav-menu {
    display: none;
}

#nav-menu-mobile {
    display: flex;
    justify-content: center;
    padding: 1rem;
    justify-content: space-between;
}

#nav-three div {
    height: 4px;
    background-color: white;
    margin: 5px 0;
    border-radius: 25px;
}

#nav-three {
    width: 30px;
    display: block;
    margin: 1em 0 0 1em;
}


#landing-section {
    background: linear-gradient(80.92deg, #59AFF5 32.66%, #60C0FF 91.08%);
    height: 70vh;
}

#landing-text {
    display: flex;
    flex: 0 1 40vw;
    height: 50vh;
    justify-content: left;
    align-items: flex-start;
    padding-right: 1rem;
    padding-left: 1rem;
    
}

#landing-text h1 {
    font-weight: 900;
    font-size: 2rem;
    color: white;
    padding-top: 2rem;
}

#landing-text h2 {
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.btn-orange {
    background: #FFA654;
    border-radius: 5px;
    width: 8rem;
    height: 2rem;
}

#itens-integrations {
    text-align: center;
}

#images-integration {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    padding: 1rem;
}

#understand-text h1 {
    font-weight: 700;
    font-size: 2rem;
    padding: 2rem;
}

#features {
    padding: 2rem;
}

#features img {
    width: 2rem;
}

#blue-line {
    border-top: 1px solid #75D6FF;
    width: 3rem;
}

#purple-line {
    border-top: 1px solid #BD9EFF;
    margin-left: 0;
    width: 3rem;
}

#orange-line {
    border-top: 1px solid #FFA654;
    margin-left: 0;
    width: 3rem;
}

#green-line {
    border-top: 1px solid #B2FFA6;
    margin-left: 0;
    width: 3rem;
}

.features-box h3 {
    font-weight: 700;
    font-size: 1.5rem;
}

#box2 {
    padding-top: 2rem;
}

#box3 {
    padding-top: 2rem;
}

#box4 {
    padding-top: 2rem;
}

#title-documentation {
    padding: 2rem;
    text-align: center;
}

#title-documentation h1 {
    font-weight: bold;
    font-size: 2rem;
}

#title-documentation h2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.btn-blue {
    background: #60C0FF;
    border-radius: 5px;
    width: 8rem;
    height: 2rem;
    color: white;
}

#itens-integrations h1 {
    font-weight: bold;
    font-size: 2rem;
}

#itens-integrations h2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#community-display {
    padding: 2rem;
    text-align: center;
}

#love-community h1 {
    font-weight: bold;
    font-size: 2rem;
}

#love-community h2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#contribuitors h1 {
    font-weight: bold;
    font-size: 1.5rem;
    padding-top: 2rem;
}

#section-box {
    text-align: left;
    padding: 2rem;
}
#section-box img {
    width: 2rem;
    padding-top: 2rem;
}

#section-box h1 {
    font-weight: bold;
    font-size: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

#section-box h2 {
    padding-bottom: 0.5rem;
}

#section-box a {
    font-weight: bold;
    font-size: 1.125rem;
}

#support-box {
    box-shadow: 0px 7.28173px 36.4087px rgba(0, 0, 0, 0.13);
    border-radius: 20px;
    padding: 2rem;
    margin-bottom: 2rem;
}

#faq-box {
    box-shadow: 0px 7.28173px 36.4087px rgba(0, 0, 0, 0.13);
    border-radius: 20px;
    padding: 2rem;
}

#developers {
    text-align: center;
    padding: 2rem;
}

#developers h1 {
    font-weight: bold;
    font-size: 2rem;
}

#developers h2 {
    padding-top: 2rem;
}

#developers #programa1 {
    padding-top: 2rem;
}

#developers #programa2 {
    padding-top: 2rem;
}



footer {
    background: #60C0FF;
    color: white;
    padding: 2rem;
}

#o-footer img {
    width: 50%;
}

#o-footer h1 {
    font-weight: bold;
    font-size: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

#o-footer h2 {
    padding-top: 2rem;
}

/* Screen sizes 500px and up */
@media (min-width: 500px) {

    #code-dev {
        display: flex;
        flex-direction: row;
        max-width: 50%;
    }

    #features {
        display: flex;
        flex-direction: row;
        max-width: 25%;
        justify-items: center;
    }

    
}